.error{
    border: black solid 1px;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.411);
}

.errorCard{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.errorBtn{
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

.errorBtnWrap{
    text-align: right;
}